/**
*
* @project    HONG YI PRECISION CO.,LTD
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v1.0 - 201907
*
**/

#box_plist a{
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1}
#box_plist h4{
    font-size: 15px;
    font-weight: normal}
#box_plist h4 span{
    font-weight: bold;
    color:#fe7201}
#box_plist h4::before{
    content: "";
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url(../images/icon_BoxDot.gif) no-repeat;
    background-position: 0 2px;
    vertical-align: top;
    margin: 0 8px 0 0}

#box_subplist{
    display: block;
    width: 95%;
    margin: 10px auto}
#box_subplist h5{
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    background: #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
         border-radius: 8px}
#box_subplist ul{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0}
#box_subplist li{
    display: inline-block;
    width: 15.5%;
    margin: 2% 2% 0;
    list-style: none}
#box_subplist li img{
    display: block;
    width: 100%;
    height: auto}
#box_subplist p{
    font-size: 15px;
    text-align: center}
